@import "fonts/font";

article#asciidoctor {
  @import "asciidoctor.scss";
}

@import "external/underlined.scss";

html,
body {
  font-family: $text-font;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: $title-font;
    font-weight: 850;
    // color: #232e8c;
  }
}

a {
  text-decoration: none;
}

*:not(pre) > code {
  background-color: #f6f6f6;
  color: #9c2525;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.125rem 0.25rem;
  margin-left: 0;
  margin-right: 0;
  white-space: nowrap;
  text-shadow: none;
}

#blog_header {
  // align of header
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 82.5em;
  *zoom: 1;
  position: relative;
  padding-top: 1em;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  // child align of header
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  // padding: 1.25em 1em 0.25em;
  * {
    align-self: flex-end;
  }

  .blog-title {
    // color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    font-style: italic;
    font-size: 2em;
    font-weight: 1000;
  }
}

#blog_nav {
  ul > li {
    list-style-type: none;
    float: left;
    a {
      padding: 0 2px;
      color: #000;
      svg {
        font-size: 1.2em;
      }
    }
  }
}

#blog_list {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 82.5em;
  *zoom: 1;
  position: relative;
  padding-top: 0.5em;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}

#tags {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 82.5em;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}
