@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap");
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import "fonts/NanumBarunGothic/nanumbarungothicsubset.css";

html {
  font-family: "Nanum Barun Gothic";
}

body {
  font-family: "Nanum Barun Gothic";
}

h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 {
  font-family: "Nanum Myeongjo";
  font-weight: 850;
}

a {
  text-decoration: none;
}

pre > code,
code {
  font-family: "IBM Plex Mono"; 
  line-height: 1.5;
}
