@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap");
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import "fonts/NanumBarunGothic/nanumbarungothicsubset.css";

$title-font: "Nanum Myeongjo";
$text-font: "Nanum Barun Gothic";
$source-code-font: "IBM Plex Mono";